.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}
.container a {
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 9px;
}

ul {
  display: flex;
  flex-direction: row;
  flex: 1;
}
ul li {
  text-decoration: none;
}

.nav {
  display: flex;
  background-color: #030330;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}

.list {
  color: #fff;
  list-style-type: none;
}

.btn {
  background-color: aqua;
}